* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
body {
    padding: 10px;
    font-family: Courier, Helvetica, sans-serif;
    background-image: url('cinema.jpg');
    background-size: cover;
    height: 100%;
    overflow: auto;
}

h3 {
    font-size: 2rem;
    margin-bottom: 5px;
    margin-top: 0;
}


p {
    margin: 0;
    font-size: 1.5rem;
}

label {
    font-size: 2rem;
}

.button {
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    background-color: rgb(200, 200, 200);
    border-radius: 5px;
    width: 20%;
}

.button a {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
}

.form-input {
    margin: 10px;
    font-size: 2rem;
}

.container {
    padding: 5px 5px 5px 15px;
    overflow: auto;
    height: 100%;
    width: 90%;
    min-width: 900px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.4);
}


.film-card {
    float: left;
    width: 33%;
    border-radius: 5px;
    position: relative;

}

.film-detail-box {
    background-image: url('vintage-ticket.png');
    height: 200px;
    margin: 0 auto;
    background-size: cover;
    background-position: 90%, 50%;
    text-align: center;
    padding: 50px;

}

.film-card form {
    float: left;
    font-size: 1.5rem;
    width: 20px;
    position: absolute;
    left: 40%;
    bottom: 10px;
}

.add-film {
    background-color: rgba(255, 255, 255, 0.6);
    width: 50%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

